# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Admin123456!!
POSTGRES_DATABASE=onlinestoredb
POSTGRES_SSL=false

# Server Configuration
PORT=3000
NODE_ENV=development
CACHE_TTL=5
